*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica;
    font-size: 20px;
    font-weight: 200;
}
.navbar{
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.navbar ul {
    display: flex;
    outline: none;
    justify-content: start;
    background-color: white;
    padding: 30px 50px;
    gap: 30px;
}
.navbar ul li{
    list-style: none;
    color:grey;
    
}
.navbar ul li a {
    text-decoration: none;
    
}
.menu a:hover{
    color: grey;
    transition: 0.2s ease-in-out;
}
